<ion-content [fullscreen]="true" class="loginBackground" #content>

  <div class="LoginContainer">

    <div class="TopSection">
      <img src="assets/shapes.svg" class="LogoImage" alt="Food App Logo">
      <h1 class="TitleText">FoodExpress</h1>
      <p class="SubtitleText">Fresh food delivered to your dorm</p>
    </div>

    <div class="FormSection">
      
      <ion-item class="InputBox" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input 
          type="text" 
          placeholder="Username" 
          [(ngModel)]="username">
        </ion-input>
      </ion-item>

      <ion-item class="InputBox" lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Password" 
          [(ngModel)]="password">
        </ion-input>
      </ion-item>

      <p class="ErrorMessage" *ngIf="showError">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Invalid username or password.
      </p>

      <ion-button expand="block" class="LoginButton" (click)="LoginClick()">
        Sign In
      </ion-button>

    </div>


  </div>

</ion-content>