<ion-header [translucent]="true" class="shop-header">
  <ion-toolbar class="search-toolbar">
    <div class="header-action-row">
      <ion-searchbar 
        placeholder="Search ..." 
        class="custom-searchbar"
        animated="true"
        (ionInput)="onSearchChange($event)">
      </ion-searchbar>

      <button class="sort-trigger-btn" id="sort-popover-trigger">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>

<ion-toolbar class="category-toolbar">

  <div class="category-list">

    <div
      class="category-chip"
      *ngFor="let item of categoriesList"
      [class.selected]="selectedCategory === item.name"
      (click)="selectCategory(item)">

      <ion-icon [name]="item.icon"></ion-icon>

      <span>{{item.name}}</span>

    </div>

  </div>

</ion-toolbar>

  <ion-popover trigger="sort-popover-trigger" dismissOnSelect="true" class="custom-sort-popover">
    <ng-template>
      <ion-content>
        <ion-list lines="none" class="sort-list">
          <ion-item button (click)="applySort('alpha')">
            <ion-icon name="text-outline" slot="start"></ion-icon>
            <ion-label>Alphabetical (A-Z)</ion-label>
          </ion-item>
          <ion-item button (click)="applySort('priceLow')">
            <ion-icon name="trending-up-outline" slot="start"></ion-icon>
            <ion-label>Price: Low to High</ion-label>
          </ion-item>
          <ion-item button (click)="applySort('priceHigh')">
            <ion-icon name="trending-down-outline" slot="start"></ion-icon>
            <ion-label>Price: High to Low</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-header>



<ion-content [fullscreen]="true" class="mainbackground">

<div class="DividerArea">

  <ion-label class="TitleText">

    {{
      lastSearchTerm
      ? 'Search Results'
      : selectedCategory === 'All'
        ? 'Browse Menu'
        : selectedCategory + ' Menu'
    }}

  </ion-label>

  <ion-label class="ResultsCount">

    {{ filteredProductList.length }} Items

  </ion-label>

</div>

  <ion-grid class="ion-no-padding">
    <ion-row class="ProductRow">
      <ion-col size="6" class="RmvPadding" *ngFor="let pair of filteredProductList">
        <div class="ProductWrapper">
          <ion-card class="ProductFrame" (click)="ProductClick(pair.id)">
            <div class="ImgContainer">
              <img class="ProductImage" src="{{pair.image || 'https://placehold.co/400x300?text=Food'}}">
            </div>
            <div class="ProductInfo">
              <ion-label class="NameText">{{ pair.name }}</ion-label>
              <ion-label class="PriceText">${{ pair.price }}</ion-label>
            </div>
          </ion-card>
            
          <ion-button class="AddtoCartBtn" color="warning" (click)="addtocart(pair.id)">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="filteredProductList.length === 0">
      <ion-col size="12" class="ion-text-center no-results-container">
        <ion-icon name="search-off" class="no-results-icon"></ion-icon>
        <h4>No foods found</h4>
        <p>Try refining your search keyword entries</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="persistent-footer">
  <div class="custom-tab-row">
    
    <button class="custom-tab-btn " (click)="LinkToHome()">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </button>

    <button class="custom-tab-btn active" (click)="LinkToShop()">
      <ion-icon name="storefront-outline"></ion-icon>
      <span>Shop</span>
    </button>

    <button class="custom-tab-btn" (click)="LinkToOrderHistory()">
      <ion-icon name="receipt-outline"></ion-icon>
      <span>Orders</span>
    </button>

    <button class="custom-tab-btn" (click)="LinkToCart()">
      <ion-icon name="cart-outline"></ion-icon>
      <span>Cart</span>
    </button>

    <button class="custom-tab-btn" (click)="LinkToProfile()">
      <ion-icon name="person-outline"></ion-icon>
      <span>Profile</span>
    </button>

  </div>
</ion-footer>