<ion-content [fullscreen]="true" class="mainbackground">

  <div class="TopSession">
    
    <div class="custom-header">
      <div class="back-icon-container" routerLink="/home-page">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <span class="header-title">My Cart</span>
      <div class="header-spacer"></div> </div>

    <div class="scrollable-list">
      <ion-grid>
        <ion-row class="CartItemRow" *ngFor="let item of CartList">
          
          <ion-col size="5.5" class="LeftCol">
            <div class="ProductContainer" [style.background-color]="item.backgroundColor">
              <div class="CartImageCircle">
                <img class="CartImg" [src]="item.image" alt="Product Image">
              </div>
            </div>
            
            <div class="quantityarea">
              <div class="qty-action" (click)="decreaseQty(item)">−</div>
              <div class="Divider"></div>
              <div class="quantitytext">{{item.quantity}}</div>
              <div class="Divider"></div>
              <div class="qty-action" (click)="increaseQty(item)">+</div>
            </div>
          </ion-col>
          
          <ion-col size="6.5" class="RightCol">
            <div class="details-wrapper">
              <h1 class="productName">{{item.productName}}</h1>
              <h2 class="productPrice">${{item.Price * item.quantity}}</h2>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>