
<ion-content [fullscreen]="true" class="mainbackground">

 <div class="TopSession">

  <div class="scrollable-list">
    <ion-grid>
      <ion-row class="CartItemRow" *ngFor="let item of CartList" >
        <ion-col size="6" class="LeftCol">
          <div class="LeftCol" style="width: 100%;" >

            <div class="ProductContainer" style="background-color: {{item.backgroundColor}}"></div>
            <img class="CartImg" src="{{item.image}}">
            <ion-card class="quantityarea">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" >-</ion-col>

                  <ion-col size="auto">
                    <div class="Divider"></div>
                  </ion-col>

                  <ion-col size="4">{{item.quantity}}</ion-col>

                  <ion-col size="auto">
                    <div class="Divider"></div>
                  </ion-col>

                  <ion-col size="3">+</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="6">
          <h1>{{item.productName}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

 </div>

</ion-content>
