

<ion-content [fullscreen]="true">

 <ion-grid class="theGrid">

  <div class="topRow" style="background-color: {{MyProduct.backgroundcolor}};">
    <ion-row >
        <ion-col class="box menu-box"></ion-col>        
        <ion-col class="box menu-box" size="3"></ion-col>
      </ion-row>
      <ion-row class="image-box ">
        <ion-col class="box">
          <img class="productImg" src="{{MyProduct.image}}">
        </ion-col>
      </ion-row>
      
      <ion-row class="text-box">
        <ion-col class="box">
          <div>
            <h1>{{MyProduct.name}}</h1>
            <h2>{{MyProduct.price}}</h2>
          </div>
        </ion-col>
      </ion-row>
  </div>

  <div class="midRow">
    
  </div>

  <div class="spacer"></div>

  <div class="bottomSession">
    <ion-row class="bottomRow">
      <ion-col size="6">
        <div class="QuantitySession">
          <ion-grid style="color: white;">
            <ion-row>
              <ion-col (click)="MinusQuantity()">-</ion-col>
              <ion-col>{{Quantity}}</ion-col>
              <ion-col (click)="AddQuantity()">+</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>

      <ion-col size="6" class="rightCol">
        <div class="GreenAdd" (click)="Addtocart()">
          Add to Cart
        </div>
      </ion-col>

    </ion-row>
  </div>

 </ion-grid>

</ion-content>
