<ion-content [fullscreen]="true" class="mainbackground">
  <div class="product-fixed-layout">
    
    <div class="topRow" [style.background-color]="MyProduct?.backgroundcolor">
      <div class="custom-header">
        <div class="back-icon-container" routerLink="/home-page">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </div>
        <div class="header-spacer"></div> 
      </div>

      <div class="image-box">
        <div class="imageCircleWrapper">
          <img class="productImg" [src]="MyProduct?.image" alt="Food Image">
        </div>
      </div>
    </div>

    <div class="midRow">
      <div class="product-info">
        <h1 class="productName">{{MyProduct?.name}}</h1>
        <h2 class="productPrice">RM{{MyProduct?.price}}</h2>
        
        <p class="productDescription">
          {{MyProduct?.description}}
        </p>

        <h3 class="sectionTitle">Ingredients</h3>
        <p class="ingredientsText">
          {{MyProduct?.ingredientlist}}
        </p>
      </div>
    </div>

    <div class="bottomSession">
      <div class="bottomRow-flex">
        <div class="quantity-col">
          <div class="QuantitySession">
            <span class="qty-btn" (click)="MinusQuantity()">−</span>
            <span class="qty-number">{{Quantity}}</span>
            <span class="qty-btn" (click)="AddQuantity()">+</span>
          </div>
        </div>

        <div class="rightCol" (click)="NoticeAddtocart()">
          <div class="GreenAddAction">
            Add to Cart
          </div>
        </div>
      </div>
    </div>

  </div>

  <ion-modal [isOpen]="isModelOpen" cssClass="asking-add-to-cart-model" (didDismiss)="onModelDismiss()">
    <ng-template>
      <div class="notice-model">
        <div class="notice-icon-circle">
          <ion-icon name="cart-outline"></ion-icon>
        </div>

        <div class="notice-content-wrapper">
          <h3 class="notice-title">Add to Basket?</h3>
          <p class="notice-subtitle">
            Would you like to add <strong>{{ Quantity }}x {{ MyProduct?.name }}</strong> to your current selection basket?
          </p>
        </div>

        <div class="notice-button-area">
          <button class="btn-dismiss" (click)="AddProductToCart(false)">Cancel</button>
          <button class="btn-confirm" (click)="AddProductToCart(true)">Yes, Add</button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="persistent-footer">
  <div class="custom-tab-row">
    <button class="custom-tab-btn" (click)="LinkToHome()">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </button>
    <button class="custom-tab-btn active" (click)="LinkToShop()">
      <ion-icon name="storefront-outline"></ion-icon>
      <span>Shop</span>
    </button>
    <button class="custom-tab-btn" (click)="LinkToOrderHistory()">
      <ion-icon name="receipt-outline"></ion-icon>
      <span>Orders</span>
    </button>
    <button class="custom-tab-btn" (click)="LinkToCart()">
      <ion-icon name="cart-outline"></ion-icon>
      <span>Cart</span>
    </button>
    <button class="custom-tab-btn" (click)="LinkToProfile()">
      <ion-icon name="person-outline"></ion-icon>
      <span>Profile</span>
    </button>
  </div>
</ion-footer>