

<ion-content [fullscreen]="true" class="mainbackground">

  <ion-card class="MenuFrame">
      <ion-grid>
        <ion-row>
          <ion-col size="2.5">
            <img class="ProfileImage" src="https://placehold.co/200x200">
          </ion-col>     
          <ion-col size="6.5">
            <div class="MenuTextSession">
              <ion-label class="WelcomeMsg">r</ion-label>
              <ion-label class="WelcomeMsg2"></ion-label>
            </div>
          </ion-col>
          <ion-col size="3">
            <ion-button class="MenuIcon"  color="light">Cart</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card class="HorizontalBanner"></ion-card>

  <div class="DividerArea">
      <ion-label class="TitleText">
    Categories
      </ion-label>
      <ion-label class="SeeAllText">See All</ion-label>
  </div>

  <div class="horizontal-list">

    <div class="card" 
    *ngFor="let item of categoriesList"
    [class.selected]="selectedItem == item" 
    (click)="selecteditem(item)">
      <img src="">
      <h3>{{item.name}}</h3>
    </div>

  </div>


    <div class="DividerArea">
      <ion-label class="TitleText">
    Products
      </ion-label>
      <ion-label class="SeeAllText">See All</ion-label>
  </div>

  <ion-grid>
    <ion-row class="ProductRow">
      <ion-col class="RmvPadding" size="6" *ngFor="let pair of myproductlist">
        <ion-card class="ProductFrame" (click)="ProductClick(pair.id)">
          <div>
            <img class="ProductImage" src="{{pair.image}}">
          </div>
          
          <div>
            <ion-label class="NameText">{{ pair.name }}</ion-label>

            
          </div>
           <ion-label class="DescriptionText">{{ pair.description }}</ion-label>
        </ion-card>
        
        <ion-button class="AddtoCartBtn" color="warning" (click)="addtocart(pair.id)">
          <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>


  
</ion-content>
