.mainbackground{
    background-color: rgb(187, 185, 185);
    padding: 10px 16px;
}
.ProfileImage{
    width: 90%;
    height: 60px;
    margin: 8px;
    border-radius: 10px;
}
.WelcomeMsg{
    font-weight: bold;
    font-size: 23px;
    color:black;
    display: block;
}
.WelcomeMsg2{
    font-size: 14px;
    color: rgb(119, 119, 119);
}
.MenuIcon{
    width: 70%;
    height: 60px;
    margin: 8px;
    border-radius: 10px;
}
.MenuTextSession{
    padding: 10px 0px;
}
.MenuFrame{
    background-color: white;
    padding: 0px;
}
.HorizontalBanner{
    height: 202px;
    background-color: rgb(236, 52, 20);
    border-radius: 15px;
    margin: 0px 16px;
}
.TitleText{
    font-weight: bold;
    font-size: 28px;
    margin: 10px 16px;
}
.SeeAllText{
    color: gray;
}
.DividerArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 9px; 
}
.CategoriesList{
    height: 50px;
    width: 140px;
    background-color: rgb(236, 52, 20);
    margin: 0px 16px;
}
.ProductFrame{
    width: 90%;
    height: 260px;
    margin: 5%;
    padding: 5px;
    margin: 5px 3px 5px 3px;

}
.ProductRow{
    padding: 5px 9px;
    height: 400px;
}
.RmvPadding{
    padding: 0px;
}

.ProductImage{
    height: 140px;
}

.AddtoCartBtn{
    position: absolute;
    width: 13%;
    height: 7%;
    top: 50%;
    left: 40%;
    --border-radius: 50%;
}          

.horizontal-list{
    display: flex;
    overflow-x: auto;
    gap:12px;

    scroll-snap-type: x mandatory;
}

.horizontal-list ::-webkit-scrollbar{
    display: none;
}

.card{
    min-width: 150px;
    height: 60px;
    background-color: rgb(206, 206, 206);
    border-radius: 12px;
    padding: 10p;
    flex-shrink: 0;
    scroll-snap-align: start;
}
.card-img{
    width: 100%;
    border-radius: 10px;
}

.card:active{
    transform: scale(0.93);
}
.card.selected{
    background: linear-gradient(90deg,rgba(237, 61, 7, 1) 0%, rgba(224, 144, 114, 1) 100%, rgba(247, 206, 183, 1) 100%);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0px rgba(0,0,0,2);
}